@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Stylist>
@using HairSalon.Models;

<h1>Welcome Claire</h1>

<p>@Html.ActionLink("Click here to view all current stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Click here to see clients", "Index", "Clients")</p>

<p>Or Search for any </p>
@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
  @Html.TextBox("query", "", new { @class = "form-control" })
  <input type="submit" value="Search">
}

@* @foreach (Stylist stylist in Model)
{
  <p>@stylist.Name</p>
} *@