@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<ul>
@if (Model["stylists"].Count != 0)
  {
    <h2>Stylists</h2>
    @foreach (Stylist stylist in Model["stylists"])
    {
      <li>@Html.ActionLink($"{stylist.Name}", "Details", "Stylists", new { id = stylist.StylistId})</li>
    }
  }
</ul>

<ul>
  @if (Model["clients"].Count != 0)
  {
    <h2>Clients</h2>
    @foreach (Client client in Model["clients"])
    {
      <li>@client.Name</li>
    }
}
</ul>